<%= form_for(@song) do |f| %>
  <% if @song.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@song.errors.count, "error") %> prohibited this song from being saved:</h2>
    <ul>
    <% @song.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :youtube_id %><br />
    <%= f.text_field :youtube_id %>
  </div>
  <div class="field">
    <%= f.label :artist %><br />
    <%= f.text_field :artist %>
  </div>
  <div class="field">
    <%= f.label :capo_position %><br />
    <%= f.text_field :capo_position %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
