

<h2 id='song-title'> <%= @song.name %>   -   <%= @song.artist %></h2>

<div id='capo-desc'><em>Capo position:</em>

<%= generate_capo_postion_text(@song.tab.capo_position) %>

</div>

<object id="youtube_video" width="480" height="385"><param name="movie" value="<%= youtube_url(@song.youtube_id) %>"><param name="allowFullScreen" value="true"><param name="allowscriptaccess" value="always"><embed src="<%= youtube_url(@song.youtube_id) %>" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="480" height="385"></object>


</p>


<div id="chord-listings">                                  
<% @tab_names = @tab_lines %>
<%= render(:partial => 'tab_name', :collection => @tab_names) %>
</div>

<div id="tab-display">

<div id="view-links">
 	<a href="#" id="fade-out-tab">Hide Guitar Tablature</a>
	 <a href="#" id="fade-in-tab">View Guitar Tablature</a>
</div>
<%= render(:partial => 'tab_line', :collection => @tab_lines) %>
</div>







