<p class="notice"><%= notice %></p>

<p>
  <h2><%= @song.name %></h2>
</p>

<p>

<object width="480" height="385"><param name="movie" value="http://www.youtube.com/v/WIWSVTaytOw&hl=en_US&fs=1&"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="<%= youtube_url(@song.youtube_id) %>" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="480" height="385"></embed></object>

  
</p>

<p>
  <b>Artist:</b>
  <%= @song.artist %>
</p>

<p>
  <b>Capo position:</b>
  <%= @song.tab.capo_position %>
</p>


<%= link_to 'Edit', edit_song_path(@song) %> |
<%= link_to 'Back', songs_path %>
