<h2 id='song-title'> <%= @song.name %>   -   <%= @song.artist %></h2>
  <div id='capo-desc'><em>Capo position:</em>
  <%= generate_capo_postion_text(@song.tab.capo_position) %>
  </div> 

  <div id="youtube_video">
		<object type="application/x-shockwave-flash" data="<%= youtube_url(@song.youtube_id) %>" width="480" height="385">
		    <param name="movie" value="<%= youtube_url(@song.youtube_id) %>" />
		</object>		
  </div>
  <div id="chord-listings">                                  
    <% @tab_names = @tab_lines %>
    <%= render(:partial => 'tab_name', :collection => @tab_names) %>
  </div>

  <div id="tab-display">
    <div id="view-links">
 	  <a href="#" id="fade-in-tab">Show Guitar Tablature</a>

      <div id="fade-out-tab">
	    <a href="#" >Hide Guitar Tablature</a>	
	    <span id='capo-desc2'><em>Capo position:</em><%= generate_capo_postion_text(@song.tab.capo_position) %></span>	    
	  </div>
    </div>
  <%= render(:partial => 'tab_line', :collection => @tab_lines) %>
</div>