<p class="notice"><%= notice %></p>

<h2> <%= @song.name %> </h2>


<p>

<object id="youtube_video" width="480" height="385"><param name="movie" value="http://www.youtube.com/v/WIWSVTaytOw&hl=en_US&fs=1&"><param name="allowFullScreen" value="true"><param name="allowscriptaccess" value="always"><embed src="<%= youtube_url(@song.youtube_id) %>" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="480" height="385"></object>


</p>

<p>
  <b>Artist:</b>
  <%= @song.artist %>
</p>

<p>
  <b>Capo position:</b>
  <%= @song.tab.capo_position %>                                        

</p>

    <!--<a href="#" id="fade-out-tab">Hide Guitar Chords</a>-->
    <!--<a href="#" id="fade-in-tab">View Guitar Chords</a>-->
    <button id="fade-out-tab">Hide Guitar Chords</button>
    <button id="fade-in-tab">View Guitar Chords</button>



<%= render(:partial => 'tab_line', :collection => @tab_lines) %>





