<!DOCTYPE html>
<html>
<head>
  <title>Jam</title>
<!--  <%= stylesheet_link_tag 'application'%> -->
  <%= stylesheet_link_tag 'jam', :media => 'all' %>
  <%= javascript_include_tag :defaults %> 
  <%= csrf_meta_tag %>
</head>
<body>

	<div id="container">
		<div id="header">
			<h2 id="title">
			  Jam through the light and into the night	
			</h2>
		</div>
		<div id="navigation">
			<ul>
				<li><%= link_to 'All Songs', homepage_path %></li>				
				<li><a href="#">Tuner</a></li>
				<li><a href="#">Chords</a></li>
				<li><a href="#">Contact us</a></li>
			</ul>
		</div>
		<div id="content">

        <%= yield %>

		</div>
		<div id="footer">
		
		</div>
	</div>



</body>
</html>
