<!DOCTYPE html>
<html>
	<head>
		<title>
			Jam Bot
		</title>
		  <%= stylesheet_link_tag "application" %>
		  <%= stylesheet_link_tag  "http://fonts.googleapis.com/css?family=Reenie+Beanie"%>
          <!--<%= stylesheet_link_tag 'blueprint/screen', :media => 'screen'%>-->
          <!--<%= stylesheet_link_tag 'blueprint/print', :media => 'print'%>-->
		  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" %>
		  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.min.js" %>
          <%= javascript_include_tag 'pagination' %>
		  <%= javascript_include_tag 'application' %><%= csrf_meta_tag %>
	</head>
	<body>
    <!--<p class="notice"><%= notice %></p>-->
          <!--<p class="alert"><%= alert %></p>-->
    
		<div id="container">
			<div id="header">
				<h1>
					the jolly plucker
				</h1>
			</div>
			<div id="navigation">
				<ul>
					<li><%= link_to 'All Songs', songs_path %></li>					
					<li><%= link_to 'Tuner', tuner_path %></li>										
					<li><a href="#">Chords</a></li>			
				<li><%= link_to 'About', about_path %></li>
                  				<li><%= link_to 'Contact', contact_path %></li>	
				</ul>
              <div id ="user_info">
                <% if user_signed_in?  %>
                  <%= current_user.username %> 
                    <%= link_to "Sign out", destroy_user_session_path %>
                    <% else  %>
                    <%= link_to "Sign up", new_user_registration_path %> or <%= link_to "sign in", new_user_session_path %>
                <% end %>
              </div>
			</div>
			<div id="content">
              <% flash.each do |name, msg|  %>
                <%= content_tag :div, msg, :id => "flash_#{name}" %>
              <% end  %>
				<%= yield %>
			</div>
			<div id="footer"></div>
          <%= debug(params) if Rails.env.development? %>
		</div>
	</body>
</html>
