<!DOCTYPE html>
<html>
<head>
  <title>Jam</title>
  <!--<%= stylesheet_link_tag 'jam', :media => 'all' %>-->
   <%= stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/ui-darkness/jquery-ui.css", "application" %>
  <%= stylesheet_link_tag  "http://fonts.googleapis.com/css?family=Reenie+Beanie"%>

  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" %>
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.min.js" %>
<!--<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>-->

    <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tag %>

  <style>
.ui-tabs .ui-tabs-hide {
     display: none;
}
#tabs {
	/*position:absolute;*/
	/*width:800px;*/
	/*top: 200px;*/
	/*left:200px;*/
}

</style>


</head>
<body>


	<div id="container">

<!-- <h2>Music soothes many a stained soul</h2> -->

<h1>Bring me your tired, your weary. I will jam with them until they sparkle</h1>


		<div id="navigation">
			<ul>
				<li><%= link_to 'All Songs', homepage_path %></li>
				<li><a href="#">Tuner</a></li>
				<li><a href="#">Chords</a></li>
				<li><a href="#">Contact us</a></li>
			</ul>
	</div>
		<div id="content">

        <%= yield %>

		</div>
		<div id="footer">

		</div>
	</div>


</body>
</html>
